body {
    margin: 0;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    background: #fff;
    a {
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      -ms-transition: 0.5s all;
      text-decoration: none;
      outline: none;
    }
  }
  
  .font-condensed {
    margin: 0;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif' !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'KoHo', sans-serif !important;
  }
  
  .font-wedding {
    margin: 0;
    font-family: 'Euphoria Script', cursive !important;
  }
  
  .header-section {
    font-size: 2.5em !important;
  }
  
  p {
    margin: 0;
  }
  
  ul, label {
    margin: 0;
    padding: 0;
  }
  
  body a {
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
  
  /*-- banner --*/
  
  .agileinfo-main {
    position: relative;
    background: rgba(0, 0, 0, 0.54);
  }
  
  .banner {
    background: url("https://storage.googleapis.com/agungdp/wedding/static/1.jpg") no-repeat center;
    background-size: cover;
    position: relative;
  }
  
  /*-- header --*/
  
  .agileinfo-header {
    padding: 1.5em 0em;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 9;
  }
  
  .agileinfo-footer {
    padding: 1.5em 0em;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 9;
  }
  
  .agile-logo {
    h1, h2 {
      font-size: 4em;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    h1 a, h2 a {
      color: #fff;
      display: inline-block;
      text-decoration: none;
    }
    a img {
      width: 12%;
      display: inline-block;
      margin-top: -7px;
    }
    float: left;
    width: 50%;
  }
  
  .agileits-w3layouts-icons {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 1em;
  }
  
  .social-icon a {
    font-size: 1em;
    color: #fff;
    margin: 0 .3em;
    border: 1px dashed;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 2.5em;
    &:hover {
      color: #FF5722;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
    }
  }
  
  .banner-w3lstext {
    padding: 20em 0;
  }
  
  .agileinfo-main {
    h3 {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      color: #fff;
      line-height: 1.4em;
      font-size: 5em;
      letter-spacing: 2px;
      border-top: 2px dashed rgba(0, 188, 212, 0.6);
      border-bottom: 2px dashed rgba(0, 188, 212, 0.6);
      padding: .2em 0;
    }
    h4 {
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: -30px;
      width: 50%;
      text-align: center;
      color: #fff;
      font-size: 2em;
    }
  }
  
  .top-nav {
    position: absolute;
    bottom: 10%;
    z-index: 9;
    width: 100%;
    text-align: center;
  }
  
  span.menu {
    display: none;
  }
  
  .top-nav ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    width: 57%;
    margin: 0 auto;
    li {
      display: inline-block;
      margin: 0 0.5em;
      a {
        display: block;
        background: rgba(255, 255, 255, 0.19);
        width: 80px;
        height: 80px;
        color: #fff;
        font-size: 1em;
        border-radius: 50%;
        padding: 2em 0;
        position: relative;
        overflow: hidden;
        z-index: 9;
        span:before {
          content: '';
          background: #FF5722;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          transition: 0.5s all;
          z-index: -1;
        }
        &:hover span:before, &.active span:before, &:focus span:before {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
  
  .slider {
    position: relative;
  }
  
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
      &:first-child {
        position: relative;
        display: block;
        float: left;
      }
    }
    img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }
  }
  
  .callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 44%;
    left: 5%;
    z-index: 3;
    overflow: hidden;
    text-decoration: none;
    color: transparent !important;
    width: 35px;
    height: 47px;
    text-align: center;
    &:hover {
      color: transparent !important;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
    }
    &:before {
      font-size: 5em;
      display: block;
      content: "\f104";
      font-family: FontAwesome;
      color: #fff;
      line-height: 0.6em;
    }
    &.next {
      right: 5%;
      left: auto;
      &:before {
        content: "\f105";
      }
    }
  }
  
  .about, .table-book, .services, .team, .news, .contact, .testimonials {
    padding: 5em 0;
  }
  
  h3.agileits-title {
    font-size: 6em;
    letter-spacing: 2px;
    color: #FF5722;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  
  h4.agileits-title {
    font-size: 1.7em;
    letter-spacing: 2px;
    color: #FF5722;
    text-align: center;
    margin-bottom: 0.1em;
    font-weight: 600;
  }
  
  .akad {
    font-size: 1.5em;
  }
  
  .see-you {
    margin-top: 30px;
    font-size: 1em;
    color: #FF5722 !important;
    font-family: 'Euphoria Script', cursive !important;
  }
  
  p {
    font-size: 1em;
    color: #777;
    line-height: 2em;
  }
  
  .about-w3grids.about-w3left, .about-w3left h3.agileits-title {
    text-align: right;
  }
  
  .about h6 {
    font-size: 2em;
    color: #000;
    margin-bottom: 0.8em;
    letter-spacing: 8px;
  }
  
  .about-w3grids.about-w3right h3.agileits-title {
    text-align: left;
  }
  
  .bar_group {
    position: relative;
    z-index: 0;
  }
  
  .bar_group__bar.thin {
    &::before {
      display: block;
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 10px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      background: #E4E4E4;
    }
    width: 0%;
    height: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #85d4de;
    margin-bottom: 10px;
    -webkit-transition: width 1s;
    transition: width 1s;
    -moz-transition: width 1s;
    margin-bottom: 2em !important;
  }
  
  .bar_label_max {
    position: absolute;
    right: 0;
    font-size: .8em;
    margin-top: 1em;
  }
  
  .bar_label_min {
    position: absolute;
    left: 0;
    font-size: .8em;
    margin-top: 1em;
  }
  
  .b_tooltip {
    -webkit-transition: all 1s;
    transition: all 1s;
    -moz-transition: all 1s;
    position: relative;
    float: left;
    left: 100%;
    padding: 4px 10px 7px 10px;
    background-color: #00BCD4;
    -webkit-transform: translateX(-50%) translateY(-30px);
    -ms-transform: translateX(-50%) translateY(-30px);
    transform: translateX(-50%) translateY(-30px);
    -moz-transform: translateX(-50%) translateY(-30px);
    -o-transform: translateX(-50%) translateY(-30px);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    line-height: 11px;
    span {
      color: #fff;
      font-size: 0.8em;
    }
  }
  
  .b_tooltip--tri {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #00BCD4 transparent transparent transparent;
  }
  
  .b_label {
    margin-bottom: .5em;
    font-size: 1.1em;
  }

  .table-book {
    background: url(https://storage.googleapis.com/agungdp/wedding/static/bg0.jpg) no-repeat center 0px fixed;
    background-size: cover;
  }
  
  .book-info {
    border: 10px double #00bcd4;
    padding: 2em;
    text-align: center;
  }
  
  .book-left {
    float: left;
    width: 38%;
    margin: 0 5em;
  }
  
  .book-right {
    float: left;
    width: 42%;
    position: relative;
    &:before {
      content: '';
      background: #ccc;
      width: 2px;
      height: 120%;
      position: absolute;
      left: 0;
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
      -moz-transform: rotate(18deg);
      -o-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
    }
  }
  
  .book-info {
    h3 {
      font-size: 4.5em;
      color: #fff;
      text-align: right;
      letter-spacing: 3px;
    }
    p {
      color: #fff;
      text-align: right;
      margin-top: 0.3em;
      font-weight: 100;
      letter-spacing: 6px;
    }
  }
  
  .book-right h4 {
    font-size: 4em;
    padding-top: 0.3em;
    color: #fff;
    letter-spacing: 9px;
  }
  
  .services-grid {
    i.fa {
      font-size: 3em;
      color: #00bcd4;
    }
    h5 {
      font-size: 1.6em;
      margin: 0.8em 0 .4em;
      color: #000;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
  
  /*-- //services --*/
  /*-- team --*/
  
  .team {
    /* background: url(https://storage.googleapis.com/agungdp/wedding/static/bg0.jpg)no-repeat center 0px fixed; */
    background-size: cover;
  }
  
  .team-agileinfo:nth-child(3) {
    margin: 2em 0 0;
  }
  
  .team-grid-left {
    float: left;
    width: 65%;
    text-align: right;
    h4 {
      margin: 0;
      font-size: 2.5em;
      color: #00bcd4;
      font-weight: 300;
      letter-spacing: 2px;
    }
    p {
      color: #fff;
      margin: .5em 0 0;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
  
  .team-grid-right {
    float: right;
    width: 30%;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
  }
  
  .team-agileinfo img.img-responsive {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    border: 7px double #00bcd4;
  }
  
  .aliquam {
    float: left !important;
    width: 30% !important;
  }
  
  .non {
    float: right !important;
    width: 65% !important;
    text-align: left !important;
  }
  
  .team-grid:hover .team-grid-right {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(180deg);
  }
  
  .filtr-item {
    padding: 1em;
  }
  
  .item-desc {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    z-index: 1;
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
  
  .filtr-container {
    float: right;
    width: 85%;
  }
  
  ul.simplefilter {
    float: left;
  }
  
  .simplefilter li {
    color: #555;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    margin: 2em 0;
    font-size: 1em;
    &:hover, &.active {
      color: #00bcd4;
    }
  }
  
  .agileits-img {
    a {
      display: block;
      overflow: hidden;
      img {
        width: 100%;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        transition: .5s all;
      }
    }
    &:hover img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    background-color: #FFF;
    display: block;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 0 #555;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity = 100);
    &:before {
      content: '';
      background-color: rgba(0, 0, 0, 0);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    &:hover {
      cursor: pointer;
      &:before {
        background-color: rgba(0, 0, 0, 0.8);
      }
      .wthree-pcatn {
        -moz-transform: translateY(0%) scale(1);
        -o-transform: translateY(0%) scale(1);
        -ms-transform: translateY(0%) scale(1);
        -webkit-transform: translateY(0%) scale(1);
        transform: translateY(0%) scale(1);
      }
    }
    .wthree-pcatn {
      background-color: rgba(0, 0, 0, 0.54);
      bottom: 0;
      height: 31%;
      left: 0;
      padding: 15px 15px;
      position: absolute;
      right: 0;
      text-align: left;
      z-index: 99;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateY(150%) scale(1.5);
      -o-transform: translateY(150%) scale(1.5);
      -ms-transform: translateY(150%) scale(1.5);
      -webkit-transform: translateY(150%) scale(1.5);
      transform: translateY(150%) scale(1.5);
      h4 {
        font-size: 2em;
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        letter-spacing: 2px;
      }
    }
  }
  
  .news {
    background: #007989;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to left, #003c44, #00BCD4);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to left, #003c44, #00BCD4);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to left, #003c44, #00BCD4);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #003c44, #00BCD4);
  }
  
  .news-wthreegrid {
    width: 80%;
    margin: 0 auto;
  }
  
  .date {
    border-right: 6px solid #007888;
    padding-right: 2em;
    text-align: right;
    h4 {
      font-size: 2.6em;
      color: #fff;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 200;
      letter-spacing: 3px;
    }
  }
  
  .date-info {
    padding-left: 2.5em;
  }
  
  .news-wthreegrid {
    h5 {
      font-size: 2em;
      color: #fff;
      letter-spacing: 3px;
      a {
        color: #fff;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        transition: .5s all;
        &:hover {
          color: #000;
        }
      }
    }
    p {
      color: #fff;
      line-height: 1.8em;
      margin-top: 0.5em;
    }
  }
  
  .news-grid-right {
    margin: 3em 0;
  }
  
  .date-info.date-info2 {
    padding: 0 2.5em 0 1em;
    text-align: right;
  }
  
  .date.date2 {
    padding: 0 1em 0 2em;
    border: none;
    border-left: 6px solid #007888;
    text-align: left;
    float: right;
  }
  
  .modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
  }
  
  .modal-body {
    padding: 0 2em 2.5em;
  }
  
  .modal-dialog {
    margin: 6em auto 0;
  }
  
  .modal-body {
    &.modal-spa img {
      width: 100%;
    }
    h4 {
      font-size: 2.25em;
      color: #00bcd4;
      letter-spacing: 3px;
      font-weight: 300;
      margin: 0.5em 0 .3em;
    }
  }
  
  .bnr-modal {
    .modal-header {
      border: none;
      min-height: 2.5em;
      padding: 0.5em 2em 0;
    }
    button.close {
      color: #00bcd4;
      opacity: .9;
      font-size: 2.5em;
      outline: none;
    }
  }
  
  .modal-body p {
    font-weight: 300;
  }
  
  .testimonials img {
    width: 100%;
  }
  
  .testi-w3agileinfo {
    .tab-content {
      width: 65%;
      margin: 0 auto;
      padding: 2em 5em;
      -webkit-box-shadow: 0px 0px 8px 2px #ccc;
      -moz-box-shadow: 0px 0px 8px 2px #ccc;
      box-shadow: 0px 0px 8px 2px #ccc;
      text-align: center;
    }
    h5 {
      color: #00bcd4;
      font-size: 2.2em;
      letter-spacing: 1px;
      margin: 0 0 0.3em 0;
    }
  }
  
  .testimonials .nav-tabs {
    border: none;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .testi-w3agileinfo .nav-tabs li {
    display: inline-block;
    float: none;
    background: #000;
    margin: 0 0.5em;
    a {
      padding: 0;
      margin: 0;
      border: none;
      opacity: .5;
    }
    &.active a, a:hover {
      opacity: 1;
    }
  }
  
  .nav-tabs > li.active > a {
    border: none;
    &:hover, &:focus {
      border: none;
    }
  }
  
  .attending-option {
    /* border: 1px dashed #FF5722; */
    border: 1px dashed #999;
    padding: 10px;
    font-weight: bold;
    font-family: "KoHo";
    cursor: pointer;
    &.warning {
      border: 1px dashed red;
    }
    &.active {
      border: transparent;
      color: white;
      background-color: #FF5722;
    }
  }
  
  .text-not-confirm {
    color: red;
  }
  
  .contact-info {
    h5 {
      font-size: 2em;
      color: #e4861a;
      letter-spacing: 2px;
      margin-bottom: 1px;
    }
    p {
      margin: 0.25em 0 0;
    }
  }
  
  .contact-form {
    margin-top: 1.5em;
    input {
      &[type="text"], &[type="email"] {
        margin-top: 0.8em;
        width: 100%;
        color: #999;
        background: none;
        outline: none;
        font-size: 1em;
        padding: .7em .8em;
        margin-right: 0;
        border: 1px solid #ccc;
        -webkit-appearance: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
      }
    }
    textarea {
      margin-top: 0.8em;
      resize: none;
      width: 100%;
      background: none;
      color: #999;
      font-size: 1em;
      outline: none;
      padding: .7em .8em;
      border: solid 1px #ccc;
      min-height: 10em;
      -webkit-appearance: none;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      display: block;
    }
    input[type="submit"] {
      border: 1px solid #FF5722;
      outline: none;
      color: #fff;
      padding: .7em 3.9em;
      font-size: 1em;
      margin: 1em 0 0 0;
      -webkit-appearance: none;
      background: #FF5722;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      &:hover {
        background: none;
        color: #FF5722;
      }
    }
    button {
      border: 1px solid #FF5722;
      outline: none;
      color: #fff;
      padding: .7em 1.9em;
      font-size: 1em;
      margin: 1em 0 0 0;
      -webkit-appearance: none;
      background: #FF5722;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      &:hover {
        background: none;
        color: #FF5722;
      }
    }
  }
  
  .cnt-address {
    font-family: 'KoHo', sans-serif !important;
    p {
      span {
        display: block;
      }
      a {
        color: #FF5722;
        &:hover {
          color: #999;
        }
      }
    }
  }
  
  .map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
  }
  
  .footer-agile {
    padding: 2em 0 2em;
    background: #191d22;
    text-align: right;
  }
  
  .agile-logo.footer-w3logo {
    width: 100%;
  }
  
  .footer-wthree-grid ul {
    padding: 0px;
    list-style: none;
    margin-top: 1.3em;
    li {
      margin: 0 1em;
      font-size: 1.2em;
      color: #fff;
      font-weight: 200;
      display: inline-block;
      a {
        color: #fff;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        transition: 0.5s all;
        &:hover {
          color: #0fdfe2;
        }
      }
    }
  }
  
  .ftr-text p a:hover {
    color: #0fdfe2;
  }
  
  .footer-btm-agileinfo {
    border-top: 0.1px solid #ccc;
    padding-top: 0.1em;
    margin-top: 1em;
  }
  
  .footer-grid {
    h3 {
      font-size: 2.8em;
      color: #FF5722;
      margin-bottom: 0.6em;
      font-weight: 200;
      letter-spacing: 2px;
    }
    li {
      display: block;
      margin: 1em 0 0;
      font-size: 1em;
      a {
        color: #fff;
        i.glyphicon {
          margin-right: 8px;
          font-size: .8em;
        }
        &:hover {
          color: #00BCD4;
        }
      }
    }
    form {
      position: relative;
    }
    input[type="email"] {
      width: 63%;
      padding: 0.8em;
      font-size: 0.9em;
      float: left;
      color: #fff;
      outline: none;
      border: 1px solid #fff;
      background: none;
      -webkit-appearance: none;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
    }
    form:hover input[type="email"] {
      border-color: #00BCD4;
    }
    input[type="submit"] {
      float: left;
      color: #fff;
      font-size: .9em;
      outline: none;
      padding: 0.8em 1.5em;
      border: 1px solid #FFF;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -webkit-appearance: none;
      background: none;
      margin-left: 1em;
    }
    form:hover input[type="submit"] {
      background-color: #00BCD4;
      border-color: #00BCD4;
    }
    li a:hover {
      color: #00BCD4;
    }
  }
  
  .copy-w3lsright p {
    color: #fff;
    margin-top: 0.5em;
    letter-spacing: 1.7px;
    font-weight: 200;
    a {
      color: #00bcd4;
      text-decoration: none;
      -webkit-transition: .5s all;
      -moz-transition: .5s all;
      transition: .5s all;
      &:hover {
        color: #fff;
      }
    }
  }
  
  #toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
  }
  
  #toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
  }
  
  @media (max-width: 1280px) {
    .agileinfo-main {
      h3 {
        font-size: 4em;
      }
      h4 {
        font-size: 1.5em;
      }
    }
    .banner-w3lstext {
      padding: 18em 0;
    }
    .footer-agile {
      padding: 2em 0;
    }
  }
  
  @media (max-width: 1080px) {
    .agileits-w3layouts-icons {
      margin-top: 0.8em;
    }
    .agileinfo-main h3 {
      width: 60%;
    }
    h3.agileits-title {
      font-size: 3.5em;
    }
    .about h6 {
      font-size: 1.8em;
      margin-bottom: 0.5em;
      letter-spacing: 5px;
    }
    .about-w3grids {
      &.about-w3left, &.about-w3right {
        padding: 0;
      }
    }
    .book-info {
      h3 {
        font-size: 3.6em;
      }
      p {
        letter-spacing: 3px;
      }
    }
    .book-right h4 {
      font-size: 3.6em;
    }
    .about, .table-book, .services, .team, .news, .contact, .testimonials {
      padding: 4em 0;
    }
    .services-grid i.fa {
      font-size: 2.6em;
    }
    .team-grid-left h4 {
      font-size: 2.2em;
    }
    .agileits-img .wthree-pcatn {
      height: 37%;
    }
    .date h4 {
      line-height: 1.3em;
    }
    .testi-w3agileinfo .tab-content {
      width: 72%;
      padding: 2em 3em;
    }
    .map iframe {
      min-height: 300px;
    }
    .date h4 {
      font-size: 2.3em;
    }
  }
  
  @media (max-width: 1024px) {
    .top-nav ul {
      width: 65%;
    }
    .agile-logo {
      h1, h2 {
        font-size: 3.6em;
      }
    }
    .agileinfo-main {
      h3 {
        font-size: 4.5em;
      }
      h4 {
        font-size: 1.8em;
      }
    }
    .banner-w3lstext {
      padding: 16em 0;
    }
    .about h3.agileits-title {
      margin-bottom: 0.5em;
    }
    .b_label {
      font-size: 1em;
    }
    .contact-form input {
      &[type="text"], &[type="email"] {
        width: 34%;
        margin-right: 1em;
      }
    }
    .contact-info h5 {
      letter-spacing: 1px;
    }
    .modal-dialog {
      margin: 3em auto;
    }
  }
  
  @media (max-width: 991px) {
    .book-left {
      width: 43%;
      margin: 0 3em;
    }
    .book-right h4 {
      font-size: 3.4em;
      letter-spacing: 5px;
    }
    .book-info {
      p {
        letter-spacing: 1px;
      }
      h3 {
        font-size: 3em;
      }
    }
    .book-right:before {
      height: 107%;
    }
    .team-agileinfo {
      width: 80%;
      margin: 0 auto;
    }
    .team-grid {
      padding: 0;
    }
    .team-agileinfo {
      &:nth-child(3) {
        margin: inherit;
      }
      width: 75%;
      margin: 0 auto;
    }
    .team-grid-left {
      margin-top: 1em;
    }
    .filtr-item {
      padding: 0.5em;
    }
    .agileits-img .wthree-pcatn {
      height: 51%;
    }
    .news-wthreegrid {
      width: 100%;
    }
    .testi-w3agileinfo .tab-content {
      width: 95%;
      padding: 2em 3em;
    }
    .testimonials .nav-tabs {
      margin-bottom: 1.5em;
    }
    .contact-form {
      margin-top: 1em;
    }
    .about, .table-book, .services, .team, .news, .contact, .testimonials {
      padding: 3.5em 0;
    }
    .contact-grids.contact-grids-w3right {
      margin-top: 1.5em;
    }
    .contact-form input[type="submit"] {
      padding: .7em 5em;
    }
    .footer-wthree-grid ul li {
      margin: 0 0.8em;
      font-size: 1.1em;
    }
    .date h4 {
      line-height: 1.5em;
      font-size: 1.9em;
    }
    .footer-grid {
      &.w3social {
        padding: 0;
      }
      h3 {
        font-size: 2.5em;
      }
    }
    .social-icon a {
      font-size: 0.8em;
      width: 30px;
      height: 30px;
    }
    .copy-w3lsright p {
      letter-spacing: 1px;
    }
  }
  
  @media (max-width: 800px) {
    .agileinfo-main {
      h3 {
        font-size: 4em;
        width: 70%;
      }
      h4 {
        font-size: 1.8em;
        width: 70%;
      }
    }
    .top-nav ul {
      li a {
        width: 70px;
        height: 70px;
        font-size: 1em;
        padding: 1.9em 0;
      }
      width: 80%;
    }
    .banner-w3lstext {
      padding: 14em 0;
    }
    h3.agileits-title {
      font-size: 3.2em;
    }
    .about h6 {
      font-size: 1.5em;
      letter-spacing: 3px;
    }
    .book-right h4 {
      font-size: 3em;
      letter-spacing: 4px;
    }
    .book-info h3 {
      font-size: 2.8em;
    }
  }
  
  @media (max-width: 768px) {
    .agile-logo {
      h1, h2 {
        font-size: 3.2em;
      }
    }
    .agileits-w3layouts-icons {
      margin-top: 0.5em;
    }
    .about-w3grids {
      width: 75%;
      margin: 0 auto;
      float: none;
      &.about-w3limg img.img-responsive {
        width: 45%;
        margin: 2em auto;
      }
    }
  }
  
  @media (max-width: 736px) {
    .about-w3grids {
      width: 85%;
    }
    .book-info {
      h3 {
        font-size: 2.5em;
      }
      p {
        margin-top: 0.1em;
      }
    }
    .services-grid {
      &:nth-child(3), &:nth-child(4) {
        margin-top: 2em;
      }
    }
    .team-agileinfo {
      width: 85%;
    }
    .team-grid-right, .aliquam {
      width: 25% !important;
    }
    .team-grid-left, .non {
      width: 70% !important;
    }
    .agileits-img .wthree-pcatn {
      height: 35%;
    }
    .map iframe {
      min-height: 250px;
    }
    .contact-form input[type="submit"] {
      padding: .7em 4.5em;
    }
    .agile-logo.footer-w3logo {
      float: inherit;
    }
    .footer-agile {
      padding: 1em 0;
    }
    .footer-grid h3 {
      font-size: 2.3em;
    }
    .contact-info p {
      margin: 0.25em 0 0;
    }
    .modal-dialog {
      width: 80%;
    }
    .modal-body h4 {
      font-size: 1.8em;
    }
  }
  
  @media (max-width: 667px) {
    .agileinfo-main {
      h3 {
        font-size: 3.5em;
      }
      h4 {
        font-size: 1.5em;
      }
    }
    .top-nav ul {
      width: 90%;
    }
    .banner-w3lstext {
      padding: 13em 0;
    }
    .about-w3grids {
      width: 90%;
    }
    .book-left {
      width: 45%;
      margin: 0 2em;
    }
    .agileits-img .wthree-pcatn {
      height: 38%;
    }
    .contact-form input[type="submit"] {
      padding: .7em 3.7em;
    }
    .footer-grid {
      width: 100%;
      &.w3social {
        margin: 2em 0;
        padding: 0 1em;
      }
    }
  }
  
  @media (max-width: 640px) {
    .book-info {
      border: 4px double #00bcd4;
      padding: 1.5em;
    }
    .team-agileinfo {
      width: 95%;
    }
    .testi-w3agileinfo {
      .tab-content {
        width: 100%;
        padding: 1.5em;
      }
      h5 {
        font-size: 2em;
      }
    }
    .contact-form input[type="submit"] {
      padding: .7em 3.5em;
    }
    .agileinfo-main {
      h3 {
        font-size: 3em;
        letter-spacing: 1px;
      }
      h4 {
        font-size: 1.5em;
        letter-spacing: 1px;
      }
    }
    .top-nav ul li {
      margin: 0 0.2em;
    }
    .book-right h4 {
      font-size: 2.5em;
      letter-spacing: 3px;
    }
    .book-info {
      h3 {
        font-size: 2.3em;
      }
      p {
        font-size: .8em;
      }
    }
    .about, .table-book, .services, .team, .news, .contact, .testimonials {
      padding: 3em 0;
    }
    .services-grid i.fa {
      font-size: 2.3em;
    }
    h3.agileits-title {
      font-size: 3.8em;
      margin-bottom: 0.5em;
    }
    .news-wthreegrid h5 {
      font-size: 1.8em;
      letter-spacing: 1px;
    }
    .date-info {
      padding-left: 1.5em;
    }
    .date {
      h4 {
        font-size: 1.6em;
      }
      padding: 1.3em 1em;
      &.date2 {
        padding: 1.3em 1em;
      }
    }
    .testi-w3agileinfo h5, .contact-info h5 {
      font-size: 1.7em;
    }
    .contact-form input {
      &[type="text"], &[type="email"] {
        width: 33.9%;
        margin-right: 0.5em;
      }
    }
  }
  
  @media (max-width: 568px) {
    .about-w3grids {
      width: 100%;
      &.about-w3right {
        padding-right: 2em;
      }
    }
    .book-left {
      width: 53%;
      margin: 0 2em 0 0;
    }
    .book-right {
      width: 37%;
    }
    .filtr-container {
      width: 80%;
    }
    .agileits-img .wthree-pcatn {
      h4 {
        font-size: 1.6em;
        letter-spacing: 1px;
      }
      height: 42%;
    }
    .map iframe {
      min-height: 200px;
    }
    .contact-form {
      input {
        &[type="text"], &[type="email"] {
          width: 100%;
          margin: 1em 0 0;
        }
      }
      textarea {
        min-height: 8em;
      }
    }
  }
  
  @media (max-width: 480px) {
    span.menu {
      display: block;
      padding: 1em;
      color: #fff;
      background: #00bcd4;
      font-size: 1.1em;
      cursor: pointer;
    }
    .top-nav {
      bottom: 0;
    }
    .banner-w3lstext {
      padding: 11em 0;
    }
    .agile-logo {
      h1, h2 {
        font-size: 2.8em;
      }
    }
    .top-nav ul {
      &.w3l {
        display: none;
        position: absolute;
        background: #000;
        width: 100%;
      }
      li {
        display: block;
        margin: 0;
        a {
          width: 100%;
          height: inherit;
          padding: 1em 0;
          border-radius: 0;
          span:before {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -o-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
          }
        }
      }
    }
    .about, .table-book, .services, .team, .news, .contact, .testimonials {
      padding: 2em 0;
    }
    h3 {
      &.agileits-title {
        font-size: 3.6em !important;
      }
      &.header-section {
        font-size: 1.5em !important;
      }
    }
    h4.agileits-title {
      font-size: 1.3em !important;
    }
    .contact-info {
      h5 {
        font-size: 1.4em;
      }
      p {
        font-size: 0.8em;
      }
    }
    .callbacks_nav {
      left: 3%;
      width: 20px;
      height: 28px;
      &:before {
        font-size: 3em;
      }
      &.next {
        right: 3%;
      }
    }
    .book-left {
      width: 100%;
      margin: 0;
      float: none;
    }
    .book-right {
      width: 100%;
      float: none;
    }
    .book-info {
      h3, p {
        text-align: center;
      }
    }
    .book-right {
      &:before {
        height: 2px;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      h4 {
        margin-top: 0.3em;
        font-size: 2em;
      }
    }
    .book-info h3 {
      font-size: 2em;
    }
    .team-agileinfo {
      width: 100%;
    }
    .team-grid-left {
      h4 {
        font-size: 1.8em;
        letter-spacing: 1px;
      }
      width: 73% !important;
    }
    .non {
      width: 73% !important;
    }
    .team-grid-left {
      margin-top: 0;
    }
    .team-grid {
      margin-bottom: 1em;
    }
    .agileits-img .wthree-pcatn {
      height: 51%;
    }
    .date {
      h4 {
        font-size: 1.2em;
      }
      border-width: 3px;
      &.date2 {
        border-width: 3px;
      }
    }
    .date-info {
      padding: 0 0 0 1em;
      &.date-info2 {
        padding: 0 1.5em 0 0;
      }
    }
    .news-grid-right {
      margin: 2em 0;
    }
    .footer-wthree-grid ul li {
      margin: 0 0.6em;
      font-size: 1em;
    }
    .footer-grid h3 {
      font-size: 1.5em;
    }
    .footer-btm-agileinfo {
      padding-top: 1em;
    }
    .modal-body h4 {
      font-size: 1.8em;
      letter-spacing: 2px;
    }
    .testi-w3agileinfo .nav-tabs li {
      margin: 0 0.2em;
      width: 15%;
    }
    .modal-dialog {
      width: 90%;
    }
    .modal-body {
      padding: 0 1em 2.5em;
    }

    .auth-panel {
      min-height: calc(100vh - 80px) !important;
    }
    footer {
      height: 80px !important;
      margin: 0 !important;
      padding: 13px 0 !important;
      ul {
        margin-bottom: 0 !important;
      }
      p {
        font-size: 11px !important;
        margin: 5px 0 0 0 !important;
      }
      ul li a {
        font-size: 10px !important;
      }
    }
  }
  
  @media (max-width: 414px) {
    .agileinfo-main {
      h3 {
        font-size: 2.7em;
        letter-spacing: 0px;
      }
      h4 {
        font-size: 1.2em;
      }
    }
    .header-section {
      font-size: 1.7em !important;
    }
    .cnt-address {
      font-size: 1em !important;
    }
    .banner-w3lstext {
      padding: 10em 0;
    }
    span.menu {
      padding: 0.8em;
    }
    .services-grid {
      width: 100%;
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        margin-top: 1.5em;
      }
      h5 {
        font-size: 1.3em;
      }
    }
    .simplefilter li {
      margin: 1.5em 0;
      font-size: 0.9em;
    }
    .filtr-item {
      padding: 0.2em;
    }
    .agileits-img .wthree-pcatn {
      height: 58%;
    }
    .date {
      width: 100%;
      padding: 0 1em;
      float: none;
      margin-bottom: 1em;
      &.date2 {
        width: 100%;
        padding: 0 1em;
        float: none;
        margin-bottom: 1em;
      }
    }
    .date-info {
      padding: 1em 0 0;
      width: 100%;
      &.date-info2 {
        padding: 0;
      }
    }
    .news-grid-right {
      margin: 1em 0;
    }
    .date-info {
      padding: 0.5em 0 0;
    }
    .testimonials .nav-tabs {
      margin-bottom: 1em;
    }
    .footer-wthree-grid {
      padding: 0;
    }
    .services-grid h5 {
      margin: 0.5em 0 .4em;
    }
  }
  
  @media (max-width: 384px) {
    p {
      font-size: 0.9em;
    }
    .contact-info h5 {
      font-size: 1.3em;
    }
    .contact-grids {
      padding: 0;
    }
    .contact-form {
      input {
        &[type="text"], &[type="email"] {
          font-size: 0.9em;
        }
      }
      textarea, input[type="submit"] {
        font-size: 0.9em;
      }
    }
    .footer-grid {
      padding: 0;
      &.w3social {
        padding: 0;
      }
      li {
        font-size: 0.9em;
      }
    }
    .team-grid-right {
      float: none;
      margin: 0 auto;
    }
    .aliquam {
      float: none !important;
    }
    .team-grid-left, .non {
      width: 100% !important;
      float: none !important;
      text-align: center !important;
      margin-top: .5em;
    }
    .contact-form input[type="submit"] {
      padding: .6em 2.5em;
    }
  }
  
  @media (max-width: 375px) {
    .agile-logo {
      h1, h2 {
        font-size: 2.5em;
        letter-spacing: 3px;
      }
    }
    .top-nav ul li a {
      font-size: 0.9em;
    }
    ul.simplefilter {
      float: none;
      margin-bottom: 1em;
    }
    .simplefilter li {
      margin: 0 1em;
      display: inline-block;
    }
    .filtr-container {
      width: 100%;
    }
    .footer-wthree-grid ul li {
      margin: 0 0.4em;
    }
    .footer-btm-agileinfo {
      padding-top: 1em;
      margin-top: 1em;
    }
  }
  
  @media (max-width: 320px) {
    .agile-logo {
      h1, h2 {
        font-size: 2.2em;
        letter-spacing: 2px;
      }
      width: 40%;
    }
    .social-icon a {
      font-size: 0.75em;
      width: 28px;
      height: 28px;
    }
    .agileits-w3layouts-icons {
      margin-top: 0;
      width: inherit;
    }
    .agileinfo-main {
      h3 {
        font-size: 1.7em;
        letter-spacing: 1px;
      }
      h4 {
        font-size: 1em;
        letter-spacing: 1px;
      }
      h3 {
        width: 80%;
      }
    }
    .banner-w3lstext {
      padding: 9em 0;
    }
    .top-nav ul li a {
      padding: 0.8em 0;
    }
    .about-w3grids.about-w3limg img.img-responsive {
      width: 58%;
      margin: 1em auto;
    }
    .simplefilter li {
      margin: 0 0.5em;
    }
    .footer-grid input {
      &[type="email"] {
        width: 100%;
      }
      &[type="submit"] {
        padding: 0.6em 1.5em;
        margin: 1em 0 0;
      }
    }
  }
  
  .loader {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -30px;
    z-index: 99999;
    &::after, &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 8px solid #ddd;
      border-radius: 50%;
      display: block;
    }
    &::after {
      content: "";
      border-radius: 50%;
      border-color: orange;
      border-left-color: transparent;
      animation: load 1s linear infinite;
    }
  }
  
  @keyframes load {
    0% {}
  
    100% {
      transform: rotate(360deg);
    }
  }

footer {
  height: 115px;
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 8px 0 0 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
  
.list-inline > li:first-child {
  padding-left: 0;
}

.auth-panel {
  min-height: calc(100vh - 115px);
}

// AUTH PAGE STYLE
.auth-page {

  hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
    &.light {
      border-color: white;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif' !important;
    font-weight: 200;
    letter-spacing: 1px;
  }

  section {
    padding: 100px 0;
    h2 {
      font-size: 50px;
    }
    &.features {
      .section-heading {
        margin-bottom: 100px;
        h2 {
          margin-top: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
      .device-container, .feature-item {
        max-width: 300px;
        margin: 0 auto;
      }
      .device-container {
        margin-bottom: 100px;
      }
      .feature-item {
        text-align: center;
        margin-bottom: 100px;
        h3 {
          font-size: 30px;
        }
        .form-label {
          text-align: left !important;
          font-weight: 300;
        }
      }
      .form-separate {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .icon-left {
        i {
          font-size: 150px;
          background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
          background: linear-gradient(to left, #7b4397, #dc2430);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  @media (min-width: 768px) {
    section.download .badges .badge-link {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    section.download h2 {
      font-size: 70px;
    }
  }

  @media (min-width: 992px) {
    section.features .device-container {
      margin-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    section.features {
      .device-container, .feature-item {
        max-width: none;
      }
    }
  }

  @media (min-width: 768px) {
    section.cta .cta-content h2 {
      font-size: 80px;
    }
  }

  .btn {
    letter-spacing: 1px;
    border-radius: 3px;
  }
}